<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IEDC</title>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='wissen/fontawesome/css/all.min.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='wissen/css/magnific-popup.css') }}" >       
    <link rel="stylesheet" href="{{ url_for('static', filename='wissen/css/tooplate-vertex.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-GLhlTQ8iZS+9LlM/2k0WtG63BWrW8amnUJl5i6eCgYR5S/R+dkF86j/1Ibp4Sk" crossorigin="anonymous">
<style>
    
* {
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
    }

    html {
      height: 100%;
    }

    body {
      background: #ffffff;
      color: #000000;
      font: 12px/1.4 Arial;
      min-width: 1300px;
      position: relative;
    }

    a {
      color: #000000;
      text-decoration: none;
    }

    ul {
      list-style: none;
    }


    /******************************
	  Navigation Menu
******************************/

    .horizontal-menu {
      background-color: #ffffff;
      color: #000000;
      display: block;
      height: 50px;
      margin: 20px auto;
      max-width: 1100px;
      font-family: "Rubik", sans-serif;
      font-weight: bold;
    }


    /******************************
					Globals
******************************/

    .horizontal-menu.plain,
    .horizontal-menu.dropdown {
      display: block;
    }

    .horizontal-menu.plain li,
    .horizontal-menu.dropdown li {
      float: left;
      height: 100%;
      width: 16.6666%;
    }

    .horizontal-menu.plain li a,
    .horizontal-menu.dropdown li>a {
      display: block;
      height: 100%;
      line-height: 50px;
      text-align: center;
      transition: background-position 0.2s ease 0s;
    }

    .horizontal-menu.plain li a,
    .horizontal-menu.dropdown li>div>a {
      transition: background-position 0.1s ease 0s;
    }

    .horizontal-menu.plain li:not(.active):hover a,
    .horizontal-menu.dropdown li>div>a:hover {
      color: #000000;
      background-position: 100% 0;
    }

    .horizontal-menu.plain li.active a:active,
    .horizontal-menu.dropdown>div:not(.active):hover>a:active {
      background: #E5B300;
      color: #FFF;
    }


    /******************************
    Plain Horizontal Menu
******************************/

    .horizontal-menu.plain li a {
      background: #ffffff linear-gradient(to left, #3B3D3F 50%, #2c2d2f 50%) repeat scroll 0 0 / 200% 100%;
    }

    .horizontal-menu.plain li.active a {
      background: #DB3839;
      color: #FFF;
    }


    /******************************
Horizontal Menu With Dropdowns
******************************/

    .horizontal-menu.dropdown li,
    .horizontal-menu.dropdown li>a {
      transition: background-color 0.2s ease;
    }

    .horizontal-menu.dropdown li {
      position: relative;
    }

    .horizontal-menu.dropdown li>a {
      text-transform: uppercase;
    }

    .horizontal-menu.dropdown li>div {
      background: #ffffff;
      display: none;
      min-width: 200%;
      overflow: hidden;
      position: absolute;
      padding: 10px;
      z-index: 999;
    }

    .horizontal-menu.dropdown li:not(:first-of-type):not(:last-of-type)>div {
      left: -50%;
      border-radius: 0 0 3px 3px;
    }

    .horizontal-menu.dropdown li:first-of-type>div {
      left: 0;
      border-radius: 0 0 3px 0;
    }

    .horizontal-menu.dropdown li:last-of-type>div {
      right: 0;
      border-radius: 0 0 0 3px;
    }

    .horizontal-menu.dropdown li:hover>div {
      display: block;
    }

    .horizontal-menu.dropdown li:hover,
    .horizontal-menu.dropdown li:hover>div {
      background: #00000082;
    }

    .horizontal-menu.dropdown li>div>a {
      background: #E5B300 linear-gradient(to left, #E5B300 50%, #ffffff 50%) repeat scroll 0 0 / 200% 100%;
      border-radius: 2px;
      display: block;
      float: left;
      margin: 2%;
      padding: 8px 10px;
      text-align: center;
      transition: background-position 0.2s ease;
      width: 46%;
    }

    .horizontal-menu.dropdown li>div>a:hover {
      background-position: 100% 0;
      cursor: pointer;
    }
</style>

</head>
<body style="background-color: #fefefe;">
    <nav class="horizontal-menu dropdown">
        <ul>
          <li class="active">
            <a>Miscelleneous</a>
            <div>
              <a href="{{ url_for('my_link') }}">Management</a>
              <a href="{{ url_for('facilites') }}">facilites</a>
              <a href="{{ url_for('studentcorner') }}">studentcorner</a>
              <a href="{{ url_for('placement') }}">Placement cell</a>
              <a>Link</a>
              <a>Link</a>
    
            </div>
          </li>
          <li>
            <a>Courses</a>
            <div>
              <a href="{{ url_for('civil') }}">Civil</a>
              <a href="{{ url_for('mech') }}">Mechanical</a>
              <a href="{{ url_for('cse') }}">Computer Science</a>
              <a href="{{ url_for('eee') }}">EEE</a>
              <a>Link</a>
              <a>Link</a>
            </div>
          </li>
          <li>
            <a>Clubs</a>
            <div>
              <a href="{{ url_for('wissen') }}">Wissen</a>
              <a href="{{ url_for('iedc') }}">Iedc</a>
    
              <a>Link</a>
              <a>Link</a>
              <a>Link</a>
            </div>
          </li>
          <li>
            <a>Item 4</a>
            <div>
              <a>Link</a>
              <a>Link</a>
              <a>Link</a>
              <a>Link</a>
              <a>Link</a>
              <a>Link</a>
              <a>Link</a>
              <a>Link</a>
              <a>Link</a>
              <a>Link</a>
              <a>Link</a>
              <a>Link</a>
            </div>
          </li>
          <li>
            <a>Item 5</a>
            <div>
              <a>Link</a>
              <a>Link</a>
              <a>Link</a>
              <a>Link</a>
              <a>Link</a>
              <a>Link</a>
            </div>
          </li>
          <li>
            <a>Item 6</a>
            <div>
              <a>Link 1</a>
              <a>Link 2</a>
              <a>Link 3</a>
              <a>Link 4</a>
              <a>Link 5</a>
              <a>Link 6</a>
            </div>
          </li>
        </ul>
      </nav>

    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>

    <h1 class="tm-brand" style="background-color: rgba(255, 255, 255, 0); color: white;padding: 0px;text-align: center;">
        <img  src="{{ url_for('static', filename='wissen/img/iedc.png') }}"  alt="Intro image" style="width: 200px;">
      
    </h1>
    
    <!-- Nav -->
    

    <!-- Content -->
    <main>
        <div id="intro" class="tm-section">
            <!-- Intro left -->
            <div class="tm-section-col tm-content">
                <div class="tm-media">
                    <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-11.jpg') }}" alt="Intro image">
                    <div class="tm-media-body">
                        <h2><a href="#" class="tm-text-primary">Vertex is a Free CSS Template</a></h2>
                        <p class="tm-mb-20 tm-text-small">
                            This is a Responsive HTML5 Template brought to you by Tooplate for
                            100% free of charge. You can feel free to download, modify, and
                            use this layout for your websites.
                        </p>
                        <span class="tm-text-secondary tm-media-span tm-text-small">
                            Friday . 25 June 2021
                        </span>wissen
                        <hr class="tm-hr tm-mr">
                    </div>
                </div>
    
                <div class="tm-media">
                    <img  src="{{ url_for('static', filename='wissen/img/gallery/tn/img-12.jpg') }}"  alt="Intro image">
                    <div class="tm-media-body">
                        <h2><a href="#" class="tm-text-primary">Responsive and Parallax iedc</a></h2>
                        <p class="tm-mb-20 tm-text-small">
                      You are not allowed to re-distribute this template as a ZIP file on any template collection website for the template download purpose. Please <a rel="nofollow" href="https://www.tooplate.com/contact" target="_parent">contact us</a> for more info. </p>
                        <span class="tm-text-secondary tm-media-span tm-text-small">
                            Monday . 21 June 2021
                    </span>
                        <hr class="tm-hr tm-mr">
                    </div>
                </div>
                
                <div class="tm-media">
                    <img  src="{{ url_for('static', filename='wissen/img/gallery/tn/img-18.jpg') }}" alt="Intro image">
                    <div class="tm-media-body">
                        <h2><a href="#" class="tm-text-primary">Do you like this HTML layout?</a></h2>
                        <p class="tm-mb-20 tm-text-small">
                            This is a custom full-width layout. Gallery page included paging thumbnails with a beautiful hover effect and a larger image pop up in the lightbox.
                        </p>
                        <span class="tm-text-secondary tm-media-span tm-text-small">
                            Wednesday . 16 June 2021
                        </span>
                        <hr class="tm-hr tm-mr">
                    </div>
                </div>
                
                
            </div>
            
            <!-- Intro right -->
            <div class="tm-section-col tm-parallax" data-parallax="scroll" data-image-src="{{ url_for('static', filename='wissen/img/iedc2.jpg') }}"></div>
        </div> <!-- #intro -->

        <div id="services" class="tm-section">
            <!-- Services left -->
            <div class="tm-section-col tm-content">
                <h2 class="tm-text-primary">Our Services</h2>
                <p>Credit goes to <strong>Pexels website</strong> for background iedc and Unsplash website for gallery iedc used in this Vertex HTML template. Vestibulum quis ultrices ipsum, tempor cursus odio. Donec et nisl sit amet mauris consequat sodales. 
                </p>
                <p>
                    Morbi a sapien vitae nunc mollis efficitur quis eu purus. Donec nec orci pharetra, ullamcorper orci eu, gravida dolor. Morbi at rutrum nibh. Sed a erat vitae ipsum mollis tincidunt sed nec orci.
                </p>
                <div class="tm-text-right">
                    
                </div>                
                <hr class="tm-hr tm-ml tm-sm-mt-30">
                <div class="tm-row">
                    <div class="tm-col">
                        <div class="tm-text-center tm-my-50">
                            <i class="fas fa-street-view fa-3x"></i>
                        </div>                        
                        <p>
                            Fusce mi sapien, faucibus ut tortor a, tempus laoreet magna. Nulla felis ipsum, lobortis eu efficitur eget, malesuada id lacus.
                        </p>
                    </div>
                    <div class="tm-col">
                        <div class="tm-text-center tm-my-50">
                            <i class="fas fa-bullseye fa-3x"></i>
                        </div>                        
                        <p>
                            Nullam pellentesque accumsan hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        </p>
                    </div>
                </div>                
            </div>
            
            <!-- Services right -->
            <div class="tm-section-col tm-parallax" data-parallax="scroll" data-image-src="{{ url_for('static', filename='wissen/img/iedc1.jpg') }}"></div>
        </div> <!-- #services -->

        <div id="gallery" class="tm-content tm-content-small-top">
            <div class="tm-gallery-container">
                <h2 class="tm-text-primary tm-text-right tm-gallery-header">Our Gallery</h2> 
                <div class="tm-gallery tm-mb-80">
                    <figure class="effect-goliath tm-gallery-item">
                        <img  src="{{ url_for('static', filename='wissen/img/gallery/tn/img-01.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Number One</h2>
                            <p>Best Template Site</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-01.jpg') }}" >View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-02.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Number 2</h2>
                            <p>Tooplate HTML CSS</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-02.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-03.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Number 3</h2>
                            <p>Free Template</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-03.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-04.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Number 4</h2>
                            <p>Free Download</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-04.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-05.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Number 5</h2>
                            <p>Mobile Ready</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-05.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Number 6</h2>
                            <p>Responsive Design</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Number 7</h2>
                            <p>Custom HTML CSS</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Number 8</h2>
                            <p>Template for you</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Number 9</h2>
                            <p>Get it FREE</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Number 10</h2>
                            <p>Tell your friends</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Picture 11</h2>
                            <p>Aliquam lacinia</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Item 12</h2>
                            <p>Aliquam lacinia</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Number 13</h2>
                            <p>Aliquam lacinia</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Picture 14</h2>
                            <p>Aliquam lacinia</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Pic 15</h2>
                            <p>Aliquam lacinia</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Pic 16</h2>
                            <p>Aliquam lacinia</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Number 17</h2>
                            <p>Aliquam lacinia</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Pic 18</h2>
                            <p>Aliquam lacinia</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Pic 19</h2>
                            <p>Aliquam lacinia</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Number 20</h2>
                            <p>Aliquam lacinia</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Pic 21</h2>
                            <p>Aliquam lacinia</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Pic 22</h2>
                            <p>Aliquam lacinia</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Pic 23</h2>
                            <p>Aliquam lacinia</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Number 24</h2>
                            <p>Web Design 2021</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Number 25</h2>
                            <p>Website Design</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Number 26</h2>
                            <p>HTML CSS Layout</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Number 27</h2>
                            <p>Aliquam lacinia</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Number 28</h2>
                            <p>Aliquam lacinia</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Number 29</h2>
                            <p>Aliquam lacinia</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                    <figure class="effect-goliath tm-gallery-item">
                        <img src="{{ url_for('static', filename='wissen/img/gallery/tn/img-06.jpg') }}" alt="Image"/>
                        <figcaption>
                            <h2>Number 30</h2>
                            <p>Aliquam lacinia</p>
                            <a href="{{ url_for('static', filename='wissen/img/gallery/img-06.jpg') }}">View more</a>
                        </figcaption>			
                    </figure>
                </div>
                <div class="tm-paging tm-mb-130"></div>
            </div>
        </div>

        <div id="about" class="tm-section">
            <!-- About left -->
            <div class="tm-section-col tm-content tm-content-small">
                <h2 class="tm-text-primary">About Us</h2>
                <p>
                    You can find more free templates on Too CSS collections. Please visit Too CSS website to see a great list of HTML CSS templates. Simply type it in Google search.
                </p>
                <p>
                    You may help us by spreading a word about our website or make a small contribution by contacting Tooplate directly. That will be very helpful for us. Thank you.
                </p>
                <hr class="tm-hr tm-mb-50">                
                <p class="tm-mb-50">
                    Quisque luctus feugiat dui eget malesuada. Donec rutrum, nibh vel lobortis placerat, leo enim feugiat arcu, ornare imperdiet urna sem vitae tellus.
                </p>
                             
            </div>
            
            <!-- About right -->
            <div class="tm-section-col tm-parallax" data-parallax="scroll" data-image-src="{{ url_for('static', filename='wissen/img/iedc3.jpg') }}"></div>
        </div> <!-- #about -->

        
    </main>

    <script src="{{ url_for('static', filename='wissen/js/plugins.js') }}"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });

        $(function(){
            
            /*************** Navigation *****************/

            const tmMainNav = $("#tm-main-nav");

            tmMainNav.singlePageNav({
                filter: ':not(.external)'
            });

            $('.navbar-toggler').click(function(e) {
                e.stopPropagation();
                tmMainNav.toggleClass('show');
            });

            $("html").click(function(e) {
                $("#tm-main-nav").removeClass("show");
            });

            /****************** Smooth Scrolling *****************/

            $(".tm-btn-next").on('click', function(event) {
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;

                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function(){
                        // window.location.hash = hash;
                    });
                }
            });

            $('.tm-brand-icon').on('click', function(event) {
                $('html, body').animate({
                        scrollTop: $('#intro').offset().top
                    }, 800);
            });

            /****************** Gallery ******************/

            const galleryItems = document.querySelector(".tm-gallery").children;
            const itemsPerPage = 10;
            const totalPages = Math.ceil(galleryItems.length / itemsPerPage);
            const pageAttribute = 'data-page';

            function setPagination(currentPage) {
                for(let i = 1; i <= totalPages; i++) {
                    var $pager = '';
                    
                    if(currentPage == i) {
                        $pager = $('<a href="javascript:void(0);" class="active tm-paging-link" '+pageAttribute+'="'+i+'"></a>');
                    } else {
                        $pager = $('<a href="javascript:void(0);" class="tm-paging-link" '+pageAttribute+'="'+i+'"></a>');
                    }

                    $pager.html(i);

                    $pager.click(function(){ 
                        $('.tm-paging-link').removeClass("active");
                        $(this).addClass('active');
                        var page = $(this).eq(0).attr(pageAttribute);
                        showItems(page);
                    });

                    $pager.appendTo($('.tm-paging'));
                }
            }

            function showItems(currentPage) {
                for(let i = 0; i < galleryItems.length; i++) {
                    galleryItems[i].classList.remove("show");
                    galleryItems[i].classList.add("hide");

                    if(i >= (currentPage * itemsPerPage) - itemsPerPage && i < currentPage * itemsPerPage) {
                        galleryItems[i].classList.remove("hide");
                        galleryItems[i].classList.add("show");
                    }
                }
            }

            setPagination(1);
            showItems(1);

            /****************** Magnific Popup ***********/

            $('.tm-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        });
    </script>
</body>
</html>