footer {
  background-color: #36384E;
  color: #fff;
  padding: 20px;
}

.footer-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1.5rem;
}

.footer-logo {
  width: 20rem;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.footer-info-div {
  max-width: 350px;
  margin: 0 auto;
}

.footer-info-icons {
  display: flex;
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 0;
}

.footer-text-div {
  max-width: 350px;
  margin: 0 auto;
  line-height: 30px;
}

.footer-line {
  width: 80%;
  margin: 0 auto;
}

.footer-social-icons {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.footer-social-icon {
  text-decoration: none;
  color: white;
}

.footer-contact {
  display: flex;
  justify-content: space-around;
}

.footer-copyright {
  display: flex;
  justify-content: center;
}
